/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;900&display=swap');

body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

nav ul {
    padding: 0;
    float: right;
}

nav ul > li {
    display: inline-block;
    margin-left: 50px;
    margin-top: 35px;
}
nav ul > li > a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.3s;
}
nav ul > li > a:hover {
    color: #0378ad;
}

.site-logo {
    float: left;
    height: 80px;
    margin-top: 10px;
}

.site-logo img {
    width: 70%;
}

.page {
    box-sizing: border-box;
    padding: 55px 0px 0px 0px;
    height: 100vh;
}

.centered-title-widget {
    text-align: center;
}

.centered-title-widget > h1 {
    font-weight: 900;
    text-transform: uppercase;
}

.centered-title-widget > p {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -20px;
}

.tankspy-title-widget {
    color: #fff;
    text-align: left;
    width: 50%;
    margin: auto;
}

.tankspy-title-widget > h1 {
    font-size: 5.5vw;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
}

.tankspy-title-widget > p {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -20px;
}

.video-title-widget {
    text-align: center;
}

.video-title-widget > h1 {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.video-title-widget > p {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -20px;
}


.framed-button {
    display: inline-block;
    outline: none;
    border: 2px solid #000000;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 35px;
    margin-top: 5%;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s;
}
.framed-button:hover {
    border-color: #0378ad;
    color: #0378ad;
}
.framed-button.light {
    border-color: #fff;
    color: #fff;
    background: none;
}
.framed-button.light:hover {
    border-color: #fff;
    color: #fff;
    background-color: rgba(255,255,2550,0.2);
}

.white-bg {
    background-color: #fff;
}
#pageOne {
    background-image: url('../assets/images/circuit-board-diagram-01.svg');
    background-position: bottom right 25%;
    background-repeat: no-repeat;
    background-size: 50%;
}

#pageTwo {
    background-color: #e2e2e2;
    padding-top: 0;
}

.container-split {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    padding: 55px 0px 0px 0px;
    margin: 0;
}

#tank-half {
    background-color: #1e1e1e;
}

#level-meter {
    position: absolute;
    top: 0;
    left: 20px;
    background-color: #fff;
    width: 3px;
    height: 95%;
}

.meter-indicator {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #fff;
    top: 0;
    left: 0;
}

#water-level {
    background: url('assets/images/wave.png');
    background-position: 0px 350px;
    background-repeat: repeat-x;
    background-size: contain;
    animation: filling 10s ease-in-out infinite alternate;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}

@keyframes filling {
    from {
        background-position: 0px 100%;
    }
    to {
        background-position: 4000px 100%;
    }
  }

#tankspy-sensor {
    height: 40%;
    margin: 0px auto 0px auto;
    color: #fff;
}

#tankspy-sensor > img {
    display: block;
    height: 100%;
    margin: auto;
}

#tankspy-receiver {
    height: 40%;
    margin: 0px auto 0px auto;
    color: #fff;
}

#tankspy-receiver > img {
    display: block;
    height: 100%;
    margin: auto;
}

#tankspy-description {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}

#tankspy-description > div {
    width: 60%;
    margin: 60px auto 0px auto;
    color: #1e1e1e;
    text-align: center;
    font-size: 22px;
}

#ultrasonic-signal {
    width: 50%;
    margin: auto;
}

#ultrasonic-signal > img {
    width: 100%;
}


#transmission-signal {
    position: absolute;
    top: 15%;
    width: 25%;

}

#transmission-signal > img {
    width: 100%;
}

#video-holder {
    width: 100%;
}


#page-wrapper {
    box-sizing: border-box;
    padding: 55px 0px 0px 0px;
    min-height: 100vh;
}

#page-wrapper .desc {
    margin-top: 40px;
    font-size: 22px;
    letter-spacing: 2px;
}

.page-title-wrapper .title.large {
    font-weight: 900;
    letter-spacing: 3px;
}

.frame {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-align: center; margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.frame > img {
    vertical-align: middle;
    width: 70%;
}

.bg-grey {
    background-color: #212529;
    color: #fff;
    height: auto !important;
    padding-top: 100px !important;
}

.specification-list {
    margin-top: 50px;
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.specification-list tr {
    border-bottom: 1px solid #212529;
}

.specification-list td {
    padding: 15px 0px 15px 0px;
    font-weight: 600;
    font-size: 20px;
}

#footer {
    text-align: center;
    text-transform: uppercase;
}

.error-logo {
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 200px;
}
.error-title {
    color: #1e1e1e;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    margin-top: 30px;
}

.error-desc {
    text-align: center;
}
