@media screen and (min-width: 768px) and (max-width: 991px) {
    .centered-title-widget > h1 {
        font-size: 7.5vw;
    }
    .centered-title-widget > p {
        font-size: 2.3vw;
    }
    #pageOne {
        background-size: 70%;
    }
    .tankspy-title-widget {
        width: 70%;
    }
    #tankspy-description > div {
        width: 70%;
    }
  }