@media screen and (max-width: 767px) {

    .site-logo {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .site-logo img {
        width:100%;
        height: 100%;
    }

    nav ul {
        margin-top: -20px;
        text-align: center;
        width:100%;
    }

    nav ul > li {
        margin: 35px 25px 0px 25px;
    }


    .centered-title-widget > h1 {
        font-size: 12vw;
        margin-bottom: 30px;
    }
    .centered-title-widget > p {
        font-size: 4vw;
    }
    #pageOne {
        background-size: 100%;
        background-position: bottom 15% right 25%;
    }

    .container-split {
        float: none;
        width: 100%;
    }

    .tankspy-title-widget {
        width: 65%;
        text-align: center;
    }

    .tankspy-title-widget > h1 {
        font-size: 15vw;
    }

    #tankspy-sensor > img {
        max-width: 70%;
    }

    #tankspy-receiver > img {
        max-width: 70%;
    }

    .framed-button {
        padding: 5px 10px;
    }

    #page-wrapper .desc {
        letter-spacing: 1px;
    }

    #right-half {
        display: none;
    }
  }